<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %> 
<body>
  <%- include('../partials/header') %> 
  
      <main class="container min-vh-100 pt-5">
        <fieldset class="rounded border w-75 mx-auto p-4">
          <legend class="text-center">AGREGAR PRODUCTO</legend>
          <form class="row " action="/admin/productos" method="POST" enctype="multipart/form-data">
            <div class="mb-3 col-md-6">
              <label for="name" class="form-label">Nombre del producto</label>
              <input type="text" name="name" class="form-control" id="name" placeholder="Ej: Pantuflas" value="<%= (locals.old && old.name) ? old.name : "" %>">
              <% if (locals.errors && errors.name) { %>
               <small class="text-danger"><%= errors.name.msg%></small>
              <% } %>
            </div>
            <div class="mb-3 col-md-6">
              <label for="price" class="form-label">Precio</label>
              <input type="number" name="price" class="form-control" id="price" placeholder="Ej: 1500" value="<%= (locals.old && old.price) ? old.price : "" %>">
              <% if (locals.errors && errors.price) { %>
                <small class="text-danger"><%= errors.price.msg%></small>
               <% } %>
            </div>
            <div class="mb-3 col-md-6">
              <label for="discount" class="form-label">Descuento</label>
              <input type="number" name="discount" class="form-control" id="discount" placeholder="Ej: 1500" value="<%= (locals.old && old.discount) ? old.discount : "" %>">
              <% if (locals.errors && errors.discount) { %>
                <small class="text-danger"><%= errors.discount.msg%></small>
              <% } %>
            </div>
            <div class="mb-3 col-md-6">
              <label for="category" class="form-label">Categorias</label>
              <select name="categoryId" class="form-select" id="category" aria-label="Default select example">
                <option selected hidden value="">Categoría</option>
                <% categories.forEach(category => { %>
                  <option value="<%- category.id %>" <%= (locals.old && old.categoryId) && old.categoryId === category.id ? "selected" : "" %>><%- category.name %> </option>
                <% }) %> 
              </select>
              <% if (locals.errors && errors.categoryId) { %>
                <small class="text-danger"><%= errors.categoryId.msg%></small>
              <% } %>
            </div>
            <div class="mb-3 col-md-6">
              <label for="project" id="project" class="form-label">Emprendimientos</label>
              <select name="projectId" class="form-select" aria-label="Default select example">
                <option selected hidden value="">Emprendimientos</option>
                <% projects.forEach(project => { %>
                  <option value="<%- project.id %>"  <%= (locals.old && old.projectId) && old.projectId === project.id ? "selected" : "" %>><%- project.name %> </option>
                <% }) %>
              </select>
              <% if (locals.errors && errors.projectId) { %>
                <small class="text-danger"><%= errors.projectId.msg%></small>
              <% } %>
            </div>
            <div class="mb-3 col-md-6">
              <label for="inputFile" class="form-label">Imagen</label>
              <input type="file" multiple class="form-control" id="inputFile" name="image"/>
            </div>
            <div class="form-check mb-3 form-switch">
              <input class="form-check-input" name="stock" type="checkbox" role="switch" id="stock" <%= (locals.old && old.stock) ? "checked" : "" %>>
              <label class="form-check-label" for="stock">Stock disponible</label>
            </div>
            <div class="mb-3 ">
              <label for="description" class="form-label">Descripción</label>
              <textarea name="description" class="form-control" id="description" rows="3"><%= (locals.old && old.description) ? old.description : "" %></textarea>
            </div>
            <div class="col-12">
              <button class="btn btn-primary" type="submit">Crear</button>
            </div>
           </form>
        </fieldset>
      
      </main>

      <%- include('../partials/footer') %> 
      
      <%- include('../partials/scripts') %> 

</body>
</html>