<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %> 
<body>
  <%- include('../partials/header') %> 
  
      <main class="container w-25 pt-5">
        <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <% categorias.forEach(categoria => { %>
                <tr>
                  <th scope="row"><%- categoria.id %></th>
                  <td><%- categoria.name %></td>
                  <td>
                    <a href="/admin/categorias/editar/<%= categoria.id %>" class="btn btn-success">
                      <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <form action="/admin/categorias/eliminar/<%= categoria.id %>?_method=DELETE" method="post">
                      <button class="btn btn-danger" type="submit">
                        <i class="fa-solid fa-trash-can"></i>
                      </button>
                    </form>
                  </td>
                </tr>
              <% }) %>
            </tbody>
          </table>
      </main>

      <%- include('../partials/footer') %> 
      
      <%- include('../partials/scripts') %> 

</body>
</html>