<section class="products__container">
    <h2 class="products__title"> <%= products_title %> </h2>
    <div class="products__container--slider">
        <% products.forEach(product => { %>
            <article class="products__card">
                <% if (product.discount > 0) { %>
                    <span class="products__card--discount"><%= product.discount %> %</span>
                <% } %>
                <a href="/products/detalle/<%= product.id %> ">
                    <div class="card__image--container">
                        <img src="images/<%= product.image %>" alt="">
                    </div>
                    <p class="card__name"><%= product.name %> </p>
                    <div class="card__price">
                        <% if (product.discount > 0) { %>
                            <span class="card__priceSale--original">$ <%= product.price %> </span>$ <%= product.price - product.discount * product.price / 100 %>
                        <% } else { %>
                        $ <%= product.price %> 
                        <% } %>
                    </div>
                    <p class="card__description"><%= product.description %></p>
                </a>
            </article>
        <% }) %>
    </div>
</section>