<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %> 
<body>
  <%- include('../partials/header') %> 
  
      <main class="container min-vh-100 pt-5">
        <fieldset class="rounded border w-75 mx-auto p-4">
          <legend class="text-center">EDITAR EMPRENDIMIENTO: <%= emprendimiento.name %> </legend>
          <form class="row" action="/admin/emprendimientos/<%= emprendimiento.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <div class="mb-3 col-md-6">
              <label for="name" class="form-label">Nombre del emprendimiento</label>
              <input type="text" name="name" class="form-control" id="name" placeholder="Ej: Microsoft" value="<%= locals.old && old.name ? old.name : emprendimiento.name %>">
              <% if (locals.errors && errors.name) { %>
                <small class="text-danger"><%= errors.name.msg%></small>
              <% } %>
            </div>
            <div class="mb-3 col-md-6">
              <label for="address" class="form-label">Dirección</label>
              <input type="text" name="address" class="form-control" id="address" placeholder="Ej: Calle falsa 123" value="<%= locals.old && old.address ? old.address : emprendimiento.address %>">
              <% if (locals.errors && errors.address) { %>
                <small class="text-danger"><%= errors.address.msg%></small>
              <% } %>
            </div>
            <div class="mb-3 col-md-6">
              <label for="phone" class="form-label">Teléfono</label>
              <input type="text" name="phone" class="form-control" id="phone" placeholder="Ej: 1555555555g" value="<%= locals.old && old.phone ? old.phone : emprendimiento.phone %>">
              <% if (locals.errors && errors.phone) { %>
                <small class="text-danger"><%= errors.phone.msg%></small>
              <% } %>
            </div>
            <div class="mb-3 col-md-6">
              <div class="mb-3">
                <label for="image" class="form-label">Seleccione imágenes</label>
                <input class="form-control" type="file" name="images" id="image" multiple>
                <% if (locals.errors && errors.images) { %>
                  <small class="text-danger"><%= errors.images.msg%></small>
                <% } %>
              </div>
            </div>
            <div class="mb-3 ">
              <label for="description" class="form-label">Descripción</label>
              <textarea name="description" class="form-control" id="description" rows="3"><%= locals.old && old.description ? old.description : emprendimiento.description %></textarea>
              <% if (locals.errors && errors.description) { %>
                <small class="text-danger"><%= errors.description.msg%></small>
              <% } %>
            </div>
            <div class="col-12">
              <button class="btn btn-success" type="submit">Guardar datos</button>
            </div>
           </form>
        </fieldset>
      
      </main>

      <%- include('../partials/footer') %> 
      
      <%- include('../partials/scripts') %> 

</body>
</html>